.buttondetail {
  position: fixed; /* Fija el botón en la pantalla */
  left: 0; /* Coloca el botón en el borde izquierdo */
  transform: translateY(-50%); /* Ajusta la posición verticalmente */
  margin-left: 10px; /* Agrega un margen izquierdo para separación */
  border-radius: 20px;
  background-color: transparent;
  border: 0px solid white;
  box-shadow: 0 6px 4px rgba(0, 0, 0, 0.405);
  color: white;
  padding: 10px 20px;
  transition: background-color 0.3s;
  background-color: rgb(255, 0, 0);
}

.buttondetail:hover {
  background-color: white;
  color: black;
}

.buttondetail:active {
  transform: translateY(-50%) scale(0.95); /* Aplica un efecto de hundimiento al hacer clic */
}

.detail {
  width: 300px;
  margin: 0 auto;
  margin-top: 5px;
  background-color: rgba(82, 0, 0, 0.464);
  color: #fff;
  padding: 20px;
  text-align: center;
  font-family: 'Cursiva', sans-serif;
  font-size: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
  height: 550px;
}

.select-image {
  width: 20px; 
  height: 20px; 
  border-radius: 80%; 
  overflow: hidden; 
}

.image {
  width: 220px;
  height: 220px;
  border-radius: 200px;
  border: 2px solid rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  transition: box-shadow 0.3s ease-in-out;
}

.image:hover {
  box-shadow: none;
}

.name {
  font-weight: bold;
  font-size: 28px;
  color: white;
  text-shadow: 0 0 10px rgba(67, 199, 211, 0.5);
  margin-top: -25px; /* Ajusta este valor para elevar o bajar el texto */
  margin-bottom: 5px;
  font-family: 'PokemonFont', sans-serif;
}

.typeImage {
  width: 30px; /* Ajusta el tamaño según lo necesario */
  height: 30px;
  border-radius: 50%; /* Para bordes redondeados */
  margin-top: 5px; /* Ajusta el margen según lo necesario */
  margin-right: 10px;
}


.typeContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.type {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 10px;
}

.typeImage {
  width: 50px; /* Ajusta el tamaño según tus necesidades */
  height: 50px; /* Ajusta el tamaño según tus necesidades */
}

.typeName {
  margin-top: 5px;
  font-size: 12px;
  text-align: center;
}
